doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title  #{title? `${title} | `: ''} POSTCSS Demo
    link(rel='shortcut icon', href='https://picsum.photos/seed/favicon/32')
    link(rel='apple-touch-icon', href='https://picsum.photos/seed/favicon/256')
    link(rel='stylesheet', href='css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#663399')

  body 
    main
      block content

