extends ../templates/default
block content
  .container
    h1 Hey, PostCSS!
    img.radius-2.align-right(loading="lazy", src="https://picsum.photos/seed/loremip/340/200", width="340", height="200", alt="")
    p Lorem ipsum dolor sit amet, officia excepteur #[a(href="/") ex fugiat] reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
    blockquote 
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores iure deleniti id voluptates distinctio magni deserunt, nostrum quaerat sequi atque, ad voluptatibus repudiandae nesciunt non!
      cite Anonymouse

  script(src="js/main.js")
