* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
  font:
    normal 1.125rem/1.6 "Inter",
    system-ui;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  width: min(100% - 2rem, 80ch);
  margin-inline: auto;
}

h1 {
  margin: 0 auto;
  color: var(--color-accent);
  font-family: "Poppins";
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  shape-margin: 1rem;
  vertical-align: middle;
}

picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  position: relative;
  padding: 1rem;
  isolation: isolate;
  margin-block: 2rem;

  &::before {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: #cecece22;
    content: open-quote;
    font-size: 10rem;
    line-height: 0.5;
  }
}
