* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
  font:
    normal 1.125rem/1.6 "Inter",
    system-ui;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: min(100% - 2rem, 80ch);
  margin-inline: auto;
}

h1 {
  margin: 0 auto;
  color: royalblue;
  font-family: "Poppins";
  font-size: 2.5rem;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
