/* @import url("modern-normalize"); */
@custom-media --mobile (width < 30rem);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: min(80ch, 100% - 2rem);
  font-family: system-ui;
  margin-inline: auto;

  @media (--mobile) {
    background-color: beige;
  }

  blockquote {
    font-size: medium;
  }
}

h1 {
  color: royalblue;
  margin-inline: auto;
  font-family: Poppins;
  font-size: 2.5rem;
}

.flex {
  display: flex;
  justify-content: flex-end;
}
